
:root {

    /* Colors: */
    --unnamed-color-a60dde: #A60DDE;
    --unnamed-color-00b6ce: #00B6CE;
    --unnamed-color-707070: #707070;
    --unnamed-color-ff6eb6: #FF6EB6;
    --unnamed-color-ffffff: #FFFFFF;
    --unnamed-color-000000: #000000;
}  
   
body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24 px;
    font-weight:100;
    background-color: white;
    padding: 40px;
    overflow: hidden;
}
     
header{   
    height:60px;
    padding:10px;
    color:#FFFFFF
}

.homepage{
        color: white;
        padding: 10px;
        font-family: 'Josefin Sans';
        font-weight: 400;
        font-size: 20px;
        margin: 10px;
        background-color:lightcoral;
}

.seabirdssongs{
    color: white;
    padding: 10px;
    font-family: 'Josefin Sans';
    font-weight: 400;
    font-size: 20px;
    margin: 10px;
    background-color:#FF6EB6;
}

.twinkling-stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
  }
  
  .star {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: white;
  }
/*Introduction*/
    .intro-banner{
    background-image: url(picnictablebg.png);
    width: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 200px;
    background-position: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "a b"
    }   

    .introimage{
        margin-top:20px;
        margin-left: 200px;
        height: 800px;
        grid-area: a;
        align-self: right;
        border-color: white;
        border-width: 10px;
        box-shadow: 30px, 30px, 30px, black;
    }

    .introcontent{
        grid-area: b;
        margin-top: 30px;
        align-items: center;
    }

    .title {
    text-shadow: 10px 10px 10px grey;
    }
    .h1 {
    transform:scale(100%);
    font-size: 80px;
    color: white;
    text-shadow: 30px, 30px, 30px, black;
    line-height: 8rem;
    margin-top:-150px;
    margin-left: -100px;
    }

    .h2 {
    font-size: 60px;
    color:#000000;
    font-weight: 400;
    text-align: center;
    }
    .playnow{
        background-color:#FF6EB6;
        padding: 10px;
        margin-left: -50px;
        margin-top: -70px;
        font-family: 'Josefin Sans';
        font-weight: '400';
        font-size: 30px;
        color: white;
        box-shadow: 30px, 30px, 30px, black;
    }

    .about{
        background-color:#00B6CE;
        padding: 10px;
        margin-left: -50px;
        margin-top: 10px;
        font-family: 'Josefin Sans';
        font-weight: '400';
        font-size: 30px;
        color: white;
        box-shadow: 30px, 30px, 30px, black;
    }
/*End of Introduction*/

/*Start of Section1*/

   .tarotdeckhover {
    background-image: url(picnictablebg.png);
    width: 100%;
    height: 1000px;
    background-repeat: no-repeat;
    margin-bottom: 400px; 
    position: relative;
    display: grid;
    overflow:scroll;        
    }

    .hovercards-container {
    padding: 10px;
    margin-bottom: 50px;
    width: 100%;
    height: 90vh;
    }

    .tarotcardshover {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, -33%);
    grid-auto-flow: dense;
    grid-gap: -33%;
    margin-bottom: 100px;
    }

    .hovertarotcard{
    width: 200px;
    height: 300px;
    perspective: 300px;
    scale: .5;
    transition: 1s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-image: url(TarotCardBacking_backwards.jpg);
    z-index: 1;
    margin-bottom: -100px;
        }

    .hovertarotcard:hover {
    transform: scale(2);
    transition: transform 1s;
    position: relative;
    background-image: url(TarotCardBacking_smallweb.jpg);
    z-index: 1000;
        }

    .overlaybutton {
    position: absolute;
    top: 50%;
    left: 40%;
    z-index: 300;
        }

    .flipDeck {
    background-color: turquoise;
    font-family: 'Josefin Sans';
    font-weight: '400';
    font-size: 30px;
    padding: 1rem;
    color: white;
    opacity: .9;
        }

/*End of Section1*/

/*Start of Section2*/
.flipscene {
    background-image: url(picnictablebg.png);
    width: 100%;
    height: 1000px;
    background-repeat: no-repeat;
    margin-bottom: 400px; 
    position: relative;
    display: grid;
    overflow:scroll;        
    }

.flippedcards-container {
    padding: 10px;
    margin-bottom: 50px;
    width: 100%;
    height: 90vh;
        }

.tarotcardsflipped {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, -33%);
    grid-auto-flow: dense;
    grid-gap: -33%;
    margin-bottom: 100px;
            }

.tarotcardflipped{
   width: 200px;
   height: 300px;
   perspective: 300px;
   transition: 1s;
   transform-style: preserve-3d;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   background-image: url(TarotCardBacking.jpg);
   z-index: 1;
   margin-left: 10px;
   margin-bottom: -100px;
}

.tarotcardflipped:hover .flip-card-inner-flipped {
    transform: rotateY(360deg);
    background-image: url(TarotCardBacking_backwards.jpg);
    z-index: 1000;
}

.flip-card-inner-flipped{
    position: relative;
    height: 300px;
    width: 200px;
    transition: .6s;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    opacity:100;
    background-image: url(TarotCardBacking_backwards.jpg);
}

.flip-card-front-flipped, .flip-card-back-flipped {
    position: absolute;
    width: 200px;
    height: 300px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.FocusYourEnergy {
    background-color: turquoise;
    position:relative;
    font-family: 'Josefin Sans';
    font-weight: '400';
    font-size: 30px;
    padding: 1rem;
    color: white;
    opacity: .9;
}
/*EndofSection2*/

/*StartofSection3NEW*/

.shufflescene {
    background-image: url(picnictablebg.png);
    width: 1600px;
    height: 1000px;
    background-repeat: no-repeat;
    position: relative;
    display: grid;
    grid-gap: -33%;
    overflow:scroll;        
    }

.tarotcardshuffle-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, -33%);
    grid-auto-flow: dense;
    grid-gap: -33%;
    position: relative;
    width: 90vw;
    height: 90vh; 
    max-width: 1400px;
    max-height: 600px;
    margin-top: -100px;
    margin-left: 40px;
  }

.tarotcardshuffle-Cards {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, -50%);
    grid-auto-flow: dense;
    grid-gap: -50%;
    }

.tarotcardshuffle{
    width: 200px;
    height: 300px;
    perspective: 300px;
    transition: 2s;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-image: url(TarotCardBacking.jpg);
    z-index: 1;
    margin-left: 10px;;
    }


.shuffleactive .tarotcardshuffle-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    width: 1400px;
    height: 600px;
    margin: 0 auto;
    }

.shuffle-active .tarotcardshuffle {
    position: absolute;
    }
    
.shuffle-card-inner-shuffled{
    position: relative;
    height: 300px;
    width: 200px;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    opacity:100;
    background-image: url(TarotCardBacking_backwards.jpg);
    }

.shuffle-card-front-shuffled, .shuffle-card-back-shuffle {
        position: absolute;
        width: 200px;
        height: 300px;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

.shuffleButton {
        background-color: turquoise;
        position:relative;
        font-family: 'Josefin Sans';
        font-weight: '400';
        font-size: 30px;
        padding: 1rem;
        color: white;
        opacity: .9;
        align-items: center;
        margin-left: 30%;
        margin-top: 10px;
      }

.gatherButton {
        background-color: turquoise;
        position:relative;
        font-family: 'Josefin Sans';
        font-weight: '400';
        font-size: 30px;
        padding: 1rem;
        color: white;
        opacity: .9;
        align-items: center;
      }


.shuffleDescription {
    transform:scale(100%);
    font-size: 30px;
    color: salmon;
    text-shadow: 30px, 30px, 30px, black;
    line-height: 1.4rem;
    background-color: white;
    padding: 10px;
   justify-content: center;
    padding-left: 30%;
    font-weight: bold;
}
/*StartofSection4*/

.readingsCard {
    background-image: url(picnictablebg.png);
    background-size: 1900px;
    height: 100vh;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 400px;
    margin-top: 400px;
}

.tarotcardreadingimage {
    position: relative;
    width: 480px;
    height: 720px;
    transition: transform 1s ease-in-out;
    transform-style: preserve-3d;
    margin-left: 100px;
    margin-top: 100px;
    box-shadow: 10px 10px 10px gray;
}

.cardDetailsContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 100px; /* Adjust this value as needed */
}

.readingsDescription {
    font-size: 60px;
    color: purple;
    text-shadow: 10px 10px 10px gray;
    line-height: 8rem;
    font-weight: bold;
    margin-top: 60px;
    margin-left: 350 px;
    padding-left: 50px;
}

.description {
    font-size: 20px;
    color: #000000;
    font-weight: 400;
    text-align: left;
    background-color: mediumaquamarine;
    padding: 30px;
    box-shadow: 10px 10px 10px gray;
    margin-right: 50px;
    background-blend-mode: screen;
    opacity: 80%;
}

.drawAnother {
    background-color: salmon;
    padding: 30px;
    margin-top: 10px; /* Adjust this value as needed */
    font-family: 'Josefin Sans';
    font-weight: 400;
    font-size: 30px;
    color: white;
    box-shadow: 10px 10px 10px gray;
    margin: 50px;
}


/*EndofSection4*/
/*StartofFinalSection*/
